{#
  Card / Card Block:
  - bg: hex value (default: "green")
#}

{% macro cardBlock(
    accent = " derp",
    content
  ) %}
  <div class="card__block{{ accent }}">
    {{content | safe}}
  </div>
{% endmacro %}
