{###############################################################################

Component: Card
===============

TODO
----

- [ ] Finish card component

###############################################################################}

{% from 'components/card/card__block.njk' import cardBlock %}

{# START MACRO

Arguments
---------
- title         : string
- body          : string
- imageURL      : string
- bg-type
- overlay-type

#}

{% macro card(
    avatarURL,
    bgType,
    bgURL,
    body,
    title
  ) %}

  {# START COMPONENT #}
  <div class="card">
    {% if avatarURL or title %}
      <div class="card__head">
        {% if avatarURL %}
        <div class="card__image card__image--avatar">
          <img src="{{avatarURL}}"/>
        </div>
        {% endif %}
        {% if title %}
        <h3 class="card__title">{{title}}</h3>
        {% endif %}
      </div>
    {% endif %}
    {% if body %}
    {{ cardBlock(body) }}
    {% endif %}
  </div>
  {# /COMPONENT #}

{% endmacro %}
{# /MACRO #}
