{##
 # Set up card UI
 #
 # @param {string} [title] - Larger heading at the top of the card
 # @param {string} [avatarURL] - Image URL that will appear next to the title, if present
 #
 # @example
 # {{ card(title="Card title", avatarURL="http://abc.xyz/pic.jpg") }}
 #}
{% from 'components/card/card.njk' import card %}
{% from 'components/card/card__block.njk' import cardBlock %}

{% macro cardPerson(
) %}

{% call card() %}
  
{% endcall %}

{% endmacro %}
