/*------------------------------------*\
  FONT STACKS
\*------------------------------------*/
$display-stack:  'Source Sans Pro', sans-serif;
$body-stack:     'Source Serif Pro', serif;
$mono-stack:     'Source Code Pro', monospace;

/*------------------------------------*\
  TYPE SCALE
\*------------------------------------*/
$type-scale:     20px;
$scale:          1.5;
$line-height:    $type-scale * $scale;

$type-scale-1:   round($type-scale * .5);
$type-scale-2:   round($type-scale * .75);
$type-scale-3:   round($type-scale * 1);
$type-scale-4:   round($type-scale * $scale);
$type-scale-5:   round($type-scale * $scale * $scale);
$type-scale-6:   round($type-scale * $scale * $scale * $scale);

/*------------------------------------*\
  FONT WEIGHTS
\*------------------------------------*/
$font-weight-light:     300;
$font-weight-normal:    400;
$font-weight-bold:      700;

/*------------------------------------*\
  FONT SIZES
\*------------------------------------*/
$body-font-size:     $type-scale-3;

/*------------------------------------*\
  TAG GROUPS
\*------------------------------------*/
$headlineCopyTags:   "h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6";
$bodyCopyTags:       "p, tt, ul, ol, dl, blockquote";
$inlineCopyTags:     "a, span";

/*------------------------------------*\
  SPACING
\*------------------------------------*/
$lead-third:        $line-height / 3;
.lead-third       { margin-bottom: $line-height / 3; }

$lead-half:        $line-height / 2;
.lead-half       { margin-bottom: $line-height / 2; }

$lead-single:      $line-height;
.lead-single     { margin-bottom: $line-height; }

$lead-double:      $line-height * 2;
.lead-double     { margin-bottom: $line-height * 2; }

$lead-triple:      $line-height * 3;
.lead-triple     { margin-bottom: $line-height * 3; }

$lead-quadruple:   $line-height * 4;
.lead-quadruple  { margin-bottom: $line-height * 4; }

$lead-quintuple:   $line-height * 5;
.lead-quintuple  { margin-bottom: $line-height * 5; }

$z-index: (
  navigation: 500,
  modal: 200
);

/*------------------------------------*\
  CONTAINERS
\*------------------------------------*/
$container-max-width:     1200px;
$container-pad:           $lead-half;

/*------------------------------------*\
  BREAKPOINTS
\*------------------------------------*/
$breakpoint-sm:           768px;
$breakpoint-md:           1024px;
$breakpoint-lg:           1200px;
$breakpoint-xl:           1440px;


/*------------------------------------*\
  THEME RADIUS
\*------------------------------------*/
$radius-size-1:         3px;


/*------------------------------------*\
  SHADOWS
\*------------------------------------*/
$shadow-1:              0 3px 6px rgba(0,0,0,.15);
$shadow-2:              0 6px 12px rgba(0,0,0,.30);
$button-shadow:         true;

/*------------------------------------*\
  COLORS
\*------------------------------------*/

$palettes: (
  // DEFAULT
  default:(
    lightest:     #FAFAFA,
    lighter:      #DEDEDE,
    light:        #909799,
    mid:          #535758,
    dark:         #3D474A,
    darker:       #242E30,
    accent:       #6772e5,
    dark-accent:  darken(#6772e5, 7%)
  ),
  state:(
    error:        change-color($color: #6772e5, $hue: 50, $saturation: 50, $lightness: 50),
    error-dark:   darken(#FF5E3D, 20%),
    warning:      #FFC247,
    warning-dark: darken(#FFC247, 20%),
    info:         #4FDBF0,
    info-dark:    darken(#4FDBF0, 20%),
    success:      #55E691,
    success-dark: darken(#55E691, 20%)
  )
);

@function palette($palette, $tone: 'default') {
    @return map-get(map-get($palettes, $palette), $tone);
}

/*------------------------------------*\
  MAIN COLORS
\*------------------------------------*/
$theme-color-accent:              palette(default, accent);
$theme-color-accent-dark:         palette(default, dark-accent);
$theme-color-body:                white;

/*------------------------------------*\
  BASE FONTS
\*------------------------------------*/
$display-font-color:              palette(default, dark);
$body-font-color:                 palette(default, mid);
$muted-font-color:                palette(default, light);

/*------------------------------------*\
  FORM ELEMENTS
\*------------------------------------*/
$form-input-bg-color:             palette(default, lightest);
$form-input-font-color:           $body-font-color;
$form-label-font-color:           $display-font-color;
$form-input-box-shadow:           inset 0 0 0 1px palette(default, lighter), inset 0 1px 3px rgba(0,0,0,.1);

/*------------------------------------*\
  BUTTONS
\*------------------------------------*/
$button-primary-bg-color:         $theme-color-accent;
$button-primary-font-color:       white;

$button-secondary-bg-color:       palette(default, mid);
$button-secondary-font-color:     white;

$button-tertiary-bg-color:        palette(default, light);
$button-tertiary-font-color:      white;

/*------------------------------------*\
  PAGES
\*------------------------------------*/
$page-heading-font-color:         palette(default, darker);
$page-subheading-font-color:      palette(default, mid);

/*------------------------------------*\
  SECTIONS
\*------------------------------------*/
$section-border-color:            palette(default, lighter);
$section-padding:                 $lead-triple;

/*------------------------------------*\
  HEROES
\*------------------------------------*/
$hero-bg-color:                   palette(default, lightest);
$hero-font-color:                 palette(default, darker);

/*------------------------------------*\
  ALERTS
\*------------------------------------*/
$alert-font-color:                rgba(255,255,255,.8);

/*------------------------------------*\
  NAVS
\*------------------------------------*/
$nav-logo-size:                   $line-height*2;
$nav-bar-padding:                 $lead-half;
$nav-bar-bg-color:                white;
$nav-bar-link-color:              $theme-color-accent;
$nav-bar-link-active-color:       palette(default, light);
$nav-bar-link-active-line-height: 5px;
$nav-bar-link-active-line-color:  $theme-color-accent;
$nav-off-canvas-bg-color:         palette(default, dark);

/*------------------------------------*\
  CARDS
\*------------------------------------*/
$card-autor-img-bg-color:         palette(default, accent);
