{% extends 'layouts/application.njk' %}

{% block title %}Home{% endblock %}

{% block content %}
<br><br><p class="text-muted text-center">In development, go <a href="/">home</a></p>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="swatch swatch--primary"></div>
      </div>
      <div class="col-xs-6">
        <div class="swatch swatch--accent-hard test"></div>
      </div>
      <div class="col-xs-6">
        <div class="swatch swatch--accent-soft"></div>
      </div>
      <div class="col-xs-3">
        <div class="swatch swatch--c1"></div>
      </div>
      <div class="col-xs-3">
        <div class="swatch swatch--c2"></div>
      </div>
      <div class="col-xs-3">
        <div class="swatch swatch--c3"></div>
      </div>
      <div class="col-xs-3">
        <div class="swatch swatch--c4"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
