{% extends 'layouts/application.njk' %}

{% block title %}Component Library{% endblock %}

{% block content %}

{{ nav() }}

{% call section(
  bgURL = "https://source.unsplash.com/category/buildings/1920x1080",
  bgOverlayModifierClass = "gradient"
)%}
  {% call columns(
    sm = 10,
    rowClasses = "center-xs text-center"
  ) %}
  {{ pageTitle("Component Library") }}
  {% endcall %}
{% endcall %}

<div class="flexible-container flexible-container--collapsed">

<div class="flexible-container__side sidebar content-start">

<div class="sidebar--fixed">
  <ul>
    <li><a data-scroll href="#sections"><i class="icon icon--dashboard"></i><span class="sidebar__nav-link">Sections</span></a></li>
    <li><a data-scroll href="#content"><i class="icon icon--grid-uneven"></i><span class="sidebar__nav-link">Content</span></a></li>
    <li><a data-scroll href="#features"><i class="icon icon--blocks"></i><span class="sidebar__nav-link">Features</span></a></li>
    <li><a data-scroll href="#pricing"><i class="icon icon--documents-group"></i><span class="sidebar__nav-link">Pricing</span></a></li>
    <li><a data-scroll href="#cards"><i class="icon icon--profile-landscape"></i><span class="sidebar__nav-link">Cards</span></a></li>
  </ul>
</div>

<div class="sidebar__close"><a href="#" class="sidebar__close-trigger"><i class="icon icon--chevron-right"></i></a></div>

</div>
<div class="flexible-container__main">

{{ anchor('sections') }}

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-10 text-center">
        <h2 class="section__title">
          Section Heading
        </h2>
        <p class="section__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>

        <div class="row center-xs bottom-xs text-center image-grid">
          <img src="https://source.unsplash.com/category/buildings/566x330" class="image-grid__image--double">
          <img src="https://source.unsplash.com/category/buildings/275x200" class="image-grid__image">
          <img src="https://source.unsplash.com/category/buildings/275x280" class="image-grid__image">
        </div>
        <div class="row center-xs top-xs text-center image-grid">
          <img src="https://source.unsplash.com/category/buildings/275x260" class="image-grid__image">
          <img src="https://source.unsplash.com/category/buildings/275x220" class="image-grid__image">
          <img src="https://source.unsplash.com/category/buildings/275x140" class="image-grid__image">
          <img src="https://source.unsplash.com/category/buildings/275x320" class="image-grid__image">
        </div>

      </div>
    </div>

  </div>
</section>

{% call section(
  bgType = "separated"
) %}

  {% call columns() %}
    <h2 class="section__title text-center">
      Section Heading
    </h2>
    <p class="text-center">
      Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Ut eget justo quis erat maximus accumsan in ut nibh.
    </p>
  {% endcall %}

{% endcall %}

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 text-center">
        <img src="https://www.fillmurray.com/300/300" class="image image--small">
        <h2 class="section__title">
          Section Heading
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 text-center">
        <img src="https://www.fillmurray.com/300/300" class="image image--small">
        <p class="text-large text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2 class="section__title">
          Section Heading
        </h2>
        <p class="section__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
    <img src="https://www.fillmurray.com/1024/512" class="image image--full">
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2 class="section__title">
          Section Heading
        </h2>
        <p class="section__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
        <div class="row center-xs">
          <div class="col-xs-12 col-sm-6">
            <img src="https://www.fillmurray.com/512/512" class="image image--full">
          </div>
          <div class="col-xs-12 col-sm-6">
            <img src="https://www.fillmurray.com/640/640" class="image image--full">
          </div>
          <div class="col-xs-12">
            <img src="https://www.fillmurray.com/1024/512" class="image image--full">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ anchor('content') }}

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs text-center">
      <div class="col-xs-12 col-sm-8">
        <h2 class="section__title">Video Player</h2>
        <video class="media mejs__player">
          <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" />
        </video>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs text-center">
      <div class="col-xs-12 col-sm-8">
        <h2 class="section__title">Audio Player</h2>
        <audio src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" class="media mejs__player"></audio>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs text-center">
      <div class="col-xs-12 col-sm-8">
        <h2 class="section__title">Youtube Player</h2>
        <iframe class="media mejs__player" width="640" height="360" src="https://www.youtube.com/embed/frdj1zb9sMY?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row bottom-xs">
      <div class="col-xs-12 col-sm-6">
        <h2 class="section__title">
          The thing
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh. In accumsan lorem eget tortor venenatis egestas. Donec iaculis dapibus sapien, a dapibus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Aliquam gravida velit metus, id pulvinar eros scelerisque id. Mauris erat elit, scelerisque a rhoncus quis, vehicula vel odio. Mauris nec ipsum aliquam, euismod sapien vitae, eleifend nunc. Sed vitae neque eget dolor ullamcorper vestibulum ac in urna. Mauris mollis nisl sed dignissim aliquam.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="https://www.fillmurray.com/1024/512" class="image image--full">
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img src="https://www.fillmurray.com/1024/512" class="image image--full">
    </div>
    <div class="col-xs-12 col-sm-5">
      <h2 class="section__title">
        The thing
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh. In accumsan lorem eget tortor venenatis egestas. Donec iaculis dapibus sapien, a dapibus turpis.
      </p>
    </div>
  </div>
</section>

{{ anchor('features') }}

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs flex-columns">
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh. In accumsan lorem eget tortor venenatis egestas. Donec iaculis dapibus sapien, a dapibus turpis.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh. In accumsan lorem eget tortor venenatis egestas. Donec iaculis dapibus sapien, a dapibus turpis.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs flex-columns">
      <div class="col-xs-12 col-sm-6">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs flex-columns">
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

{{ anchor('pricing') }}

<section class="section section--separated section--lightest">
  <div class="container">
    <h2 class="section__title text-center">Our Plans</h2>
    <p class="section__subtitle text-center">Buy the plan that is in purple or everyone will laugh at you.</p>
    <div class="row flex-columns">
      <div class="col-xs-12 col-sm-3 grid-card">
        <div class="card">
          <div class="card__head card__block card__block--lighter">
            <h3 class="card__title text-center">
              Personal
            </h3>
          </div>
          <div class="card__block card__block--lighter flex middle-xs center-xs card__block--separated">
            <span class="h1">$18</span>
            <span>/mo</span>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Memory</h4>
            <p>256 MB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">SSD Space</h4>
            <p>10 GB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Bandwidth</h4>
            <p>Unmetered</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <a href="#" class="button button--tertiary button--full">Purchase Plan</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 grid-card">
        <div class="card">
          <div class="card__head card__block card__block--accent">
            <h3 class="card__title text-center">
              Professional
            </h3>
          </div>
          <div class="card__block flex middle-xs center-xs card__block--separated card__block--accent">
            <span class="h1">$24</span>
            <span>/mo</span>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Memory</h4>
            <p>512 MB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">SSD Space</h4>
            <p>30 GB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Bandwidth</h4>
            <p>Unmetered</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <a href="#" class="button button--primary button--full">Purchase Plan</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 grid-card">
        <div class="card">
          <div class="card__head card__block card__block--lighter">
            <h3 class="card__title text-center">
              Corporate
            </h3>
          </div>
          <div class="card__block card__block--lighter flex middle-xs center-xs card__block--separated">
            <span class="h1">$38</span>
            <span>/mo</span>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Memory</h4>
            <p>1024 MB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">SSD Space</h4>
            <p>60 GB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Bandwidth</h4>
            <p>Unmetered</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <a href="#" class="button button--tertiary button--full">Purchase Plan</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 grid-card">
        <div class="card">
          <div class="card__head card__block card__block--lighter">
            <h3 class="card__title text-center">
              Enterprise
            </h3>
          </div>
          <div class="card__block card__block--lighter flex middle-xs center-xs card__block--separated">
            <span class="h1">$54</span>
            <span>/mo</span>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Memory</h4>
            <p>2048 MB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">SSD Space</h4>
            <p>120 GB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <a href="#" class="button button--tertiary button--full">Purchase Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ anchor('cards') }}

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-4 col-md-4 grid-card">
        <div class="card">
          <div class="card__image card__image--top">
            <div class="card__image-caption">
              Some good stuff
            </div>
            <img src="http://www.fillmurray.com/1920/1080">
          </div>
          <div class="card__block">
            <h4>Product Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 grid-card">
        <div class="card">
          <div class="card__image card__image--top">
            <div class="card__image-caption">
              Some good stuff
            </div>
            <img src="http://www.fillmurray.com/1920/1080">
          </div>
          <div class="card__block">
            <h4>Product Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 grid-card">
        <div class="card">
          <div class="card__image card__image--top">
            <div class="card__image-caption">
              Some good stuff
            </div>
            <img src="http://www.fillmurray.com/1920/1080">
          </div>
          <div class="card__block">
            <h4>Product Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">

</section>

</div>

</div>

{% endblock %}
