{% extends 'layouts/application.njk' %}

{% block title %}Home TEST{% endblock %}

{% block content %}

{#
> ↑ Probably the main stuff if you have limited time.
> However, would also love help with ↓
> Show me an example of a meta query for auto generating nav links, ie. return
> all `pageSlugs` where contentType is `page`

`contentful.page.map(function(i) { return i.pageSlugs })` #}

{% set page = contentful.categoryPage[0] %}
{% set itemList  = contentful.faq %}
{% set hero = page.hero %}

{% if hero %}
  {% call section(
    bgURL = hero.backgroundMedia.fields.file.url,
    bgOverlayModifierClass = "people",
    class = "section--hero"
  )%}
    {% call columns(
      rowClasses = "center-xs text-center",
      xs = 10,
      sm = 8,
      lg = 7
    ) %}
    {{ title('FAQ', level = '1') }}
    {{ subtitle('Nobody has more respect for words than me.', level = '1') }}
    {% endcall %}
  {% endcall %}
{% endif %}

{% for item in itemList %}
<h2>{{ item.title }}</h2>
<p>By {{ item.author }}</p>
{{ item.text }}
{% endfor %}

<section class="section section--neutral-1">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-2">
        <div class="cp cp1">
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="cp cp2">
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
          <div class="c"></div>
        </div>
      </div>
    </div>
  </div>
</section>


{% call section(
  bgType = "accent",
  bgOverlayModifierClass = "dark",
  row = true,
  rowClasses = "center-xs"
) %}
<p>&copy; RESOLUTE</p>
{% endcall %}

{% endblock %}
