{% extends 'layouts/application.njk' %}

{% from 'components/section/section.njk' import section %}
{% from 'components/button/button.njk' import button %}
{% from 'components/card/card.njk' import card %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      {{card(
        title="Jake Fleming"
        )}}
    </div>
    <div class="col-xs-6">
      {{card(
        body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh."
        )}}
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      {{card(
        avatarURL="http://www.placekitten.com/g/500/500",
        title="Russ Klusas",
        body=about.body
        )}}
    </div>
  </div>

  {{button(
    text = "Primary Button",
    type = "primary",
    URL = "http://jakeflem.com"
    )}}

  {{button(
    text = "Secondary Button",
    type = "secondary",
    URL = "http://jakeflem.com"
    )}}

  {{button(
    text = "Tertiary Button",
    type = "tertiary",
    URL = "http://jakeflem.com"
    )}}

</div>
{{section(
    body = card(body="Hrm?"),
    accent = true
)}}

{% endblock %}
