{% extends 'layouts/application.njk' %}

{% block title %}Home{% endblock %}

{% block content %}

{{ nav() }}

<section class="section bg-overlay bg-overlay--dark" style="background-image: url('http://www.fillmurray.com/1920/1080');">
  <div class="container">
    <div class="row center-xs text-center">
      <div class="col-xs-12">
        <h1 class="section__title section__title--large">The Best Words</h1>
        <p class="section__subtitle">Nobody has better words than me.</p>
        <a href="http://asdf.com" class="button button--primary button--elevated">
          Learn more
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8">
        <h2 class="section__title text-center">
          Section Heading
        </h2>
        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 text-center">
        <img src="https://www.fillmurray.com/300/300" class="image image--small">
        <h2 class="section__title">
          Section Heading
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 text-center">
        <img src="https://www.fillmurray.com/300/300" class="image image--small">
        <p class="text-large text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2 class="section__title">
          Section Heading
        </h2>
        <p class="section__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
    <img src="https://www.fillmurray.com/1024/512" class="image image--full">
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 text-center">
        <h2 class="section__title">
          Section Heading
        </h2>
        <p class="section__subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
        <div class="row center-xs">
          <div class="col-xs-12 col-sm-6">
            <img src="https://www.fillmurray.com/512/512" class="image image--full">
          </div>
          <div class="col-xs-12 col-sm-6">
            <img src="https://www.fillmurray.com/640/640" class="image image--full">
          </div>
          <div class="col-xs-12">
            <img src="https://www.fillmurray.com/1024/512" class="image image--full">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row bottom-xs">
      <div class="col-xs-12 col-sm-6">
        <h2 class="section__title">
          The thing
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh. In accumsan lorem eget tortor venenatis egestas. Donec iaculis dapibus sapien, a dapibus turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse potenti. Aliquam gravida velit metus, id pulvinar eros scelerisque id. Mauris erat elit, scelerisque a rhoncus quis, vehicula vel odio. Mauris nec ipsum aliquam, euismod sapien vitae, eleifend nunc. Sed vitae neque eget dolor ullamcorper vestibulum ac in urna. Mauris mollis nisl sed dignissim aliquam.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img src="https://www.fillmurray.com/1024/512" class="image image--full">
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <img src="https://www.fillmurray.com/1024/512" class="image image--full">
    </div>
    <div class="col-xs-12 col-sm-5">
      <h2 class="section__title">
        The thing
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh. In accumsan lorem eget tortor venenatis egestas. Donec iaculis dapibus sapien, a dapibus turpis.
      </p>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs flex-columns">
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh. In accumsan lorem eget tortor venenatis egestas. Donec iaculis dapibus sapien, a dapibus turpis.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh. In accumsan lorem eget tortor venenatis egestas. Donec iaculis dapibus sapien, a dapibus turpis.
        </p>
      </div>
      <div class="col-xs-12 col-sm-5">
        <h4>Thingy McJibber</h4>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <div class="row center-xs flex-columns">
      <div class="col-xs-12 col-sm-6">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs flex-columns">
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <div class="image image--small">
          <img src="https://www.fillmurray.com/300/300">
        </div>
        <p class="text-block">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated section--lightest">
  <div class="container">
    <h2 class="section__title text-center">Our Plans</h2>
    <p class="section__subtitle text-center">Buy the plan that is in purple or everyone will laugh at you.</p>
    <div class="row flex-columns">
      <div class="col-xs-12 col-sm-3 grid-card">
        <div class="card">
          <div class="card__head card__block card__block--lighter">
            <h3 class="card__title text-center">
              Personal
            </h3>
          </div>
          <div class="card__block card__block--lighter flex middle-xs center-xs card__block--separated">
            <span class="h1">$18</span>
            <span>/mo</span>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Memory</h4>
            <p>256 MB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">SSD Space</h4>
            <p>10 GB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Bandwidth</h4>
            <p>Unmetered</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <a href="#" class="button button--tertiary button--full">Purchase Plan</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 grid-card">
        <div class="card">
          <div class="card__head card__block card__block--accent">
            <h3 class="card__title text-center">
              Professional
            </h3>
          </div>
          <div class="card__block flex middle-xs center-xs card__block--separated card__block--accent">
            <span class="h1">$24</span>
            <span>/mo</span>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Memory</h4>
            <p>512 MB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">SSD Space</h4>
            <p>30 GB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Bandwidth</h4>
            <p>Unmetered</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <a href="#" class="button button--primary button--full">Purchase Plan</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 grid-card">
        <div class="card">
          <div class="card__head card__block card__block--lighter">
            <h3 class="card__title text-center">
              Corporate
            </h3>
          </div>
          <div class="card__block card__block--lighter flex middle-xs center-xs card__block--separated">
            <span class="h1">$38</span>
            <span>/mo</span>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Memory</h4>
            <p>1024 MB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">SSD Space</h4>
            <p>60 GB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Bandwidth</h4>
            <p>Unmetered</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <a href="#" class="button button--tertiary button--full">Purchase Plan</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 grid-card">
        <div class="card">
          <div class="card__head card__block card__block--lighter">
            <h3 class="card__title text-center">
              Enterprise
            </h3>
          </div>
          <div class="card__block card__block--lighter flex middle-xs center-xs card__block--separated">
            <span class="h1">$54</span>
            <span>/mo</span>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">Memory</h4>
            <p>2048 MB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <h4 class="text-muted">SSD Space</h4>
            <p>120 GB</p>
          </div>
          <div class="card__block card__block--separated flex between-xs card__block--small">
            <a href="#" class="button button--tertiary button--full">Purchase Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-4 col-md-4 grid-card">
        <div class="card">
          <div class="card__image card__image--top">
            <div class="card__image-caption">
              Some good stuff
            </div>
            <img src="http://www.fillmurray.com/1920/1080">
          </div>
          <div class="card__block">
            <h4>Product Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 grid-card">
        <div class="card">
          <div class="card__image card__image--top">
            <div class="card__image-caption">
              Some good stuff
            </div>
            <img src="http://www.fillmurray.com/1920/1080">
          </div>
          <div class="card__block">
            <h4>Product Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 grid-card">
        <div class="card">
          <div class="card__image card__image--top">
            <div class="card__image-caption">
              Some good stuff
            </div>
            <img src="http://www.fillmurray.com/1920/1080">
          </div>
          <div class="card__block">
            <h4>Product Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget justo quis erat maximus accumsan in ut nibh.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--separated">

</section>

{% endblock %}
