{###############################################################################

Component: Button
===============

###############################################################################}

{# START MACRO

Arguments
---------
- shadow    : boolean
- text      : string
- type      : string (primary, secondary, tertiary)
- URL       : string

#}

{% macro button(
    shadow = true,
    text = "Gimme a value",
    type = "primary",
    URL = "#"
  ) %}

  {# START COMPONENT #}
  <a href="{{URL}}" class="button button--{{type}} {{"button--elevated" if shadow}}">
    {{text}}
  </a>
  {# /COMPONENT #}

{% endmacro %}
{# /MACRO #}
