{##
 # A repeater that iterates through an array
 #
 # @param {array}  [data] Array of JSON objects to be iterated through
 # @param {int}    [dataLimit] TODO: Number of objects in array to show before switching to an alternate view which has a read more link
 # @param {string} [gridWrapper] List of grid classes to wrap the output object
 # @param {string} [outputComponent] Name of the component to pass single array object to
 #
 # @return {string} A concatenated list of HTML for each object in array
 #
 # @example
 #   {% repeatStaff( staff, card(title="Card title") ) %}
 #}

{% from 'components/card/card.njk' import card %}

{% macro repeatStaff(
    data            = {},
    dataLimit       = 10,
    gridWrapper     = ""
  ) %}

  {% for item in data %}

    {# TODO: Turn into a tiny component, joiner()
    {% set skillList %}
      {% set comma = joiner() %}
      {% for skill in item.skills -%}
        {{ comma() }} {{ skill }}
      {%- endfor %}
    {% endset %} #}

  {% if gridWrapper != "" %}
  <div class="{{ gridWrapper }} grid-card">
  {% endif %}
    {{ card(
      avatarURL = item.avatarURL,
      title = item.name,
      body  = item.description
    ) }}
  {% if gridWrapper != "" %}
  </div>
  {% endif %}

  {% endfor %}

{% endmacro %}
