.alert {
  border-radius: $radius-size-1;
  color: $font-color-alert;
  font-family: $display-stack;
  padding: $lead-half;
  position: relative;
  &__body {
    padding-right: $lead-double;
  }
  &__dismiss {
    @extend .icon;
    @extend .icon--x;
    color: rgba(0,0,0,.2);
    cursor: pointer;
    line-height: $line-height;
    padding: $lead-half;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s;
    &:hover {
      color: white;
    }
  }
  &--error {
    background: $bg-color-alert-error;
  }
  &--warning {
    background: $bg-color-alert-warning;
  }
  &--info {
    background: $bg-color-alert-info;
  }
  &--success {
    background: $bg-color-alert-success;
  }
}
