.button {
  box-sizing: border-box;
  border-radius: $radius-size-1;
  cursor: pointer;
  display: inline-block;
  font-family: $display-stack;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  line-height: $lead-half;
  font-size: $type-scale-2;
  padding: $lead-half $lead-single;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .33s;
  vertical-align: top;
  &:active {
    box-shadow: none;
  }
  &--full {
    width: 100%;
  }
  &--elevated {
    @include shadow-1;
  }
  &--primary {
    background: $button-primary-bg-color;
    color: $button-primary-font-color;
    &:hover {
      background: $button-primary-bg-color-hover;
    }
  }
  &--secondary {
    background: $button-secondary-bg-color;
    color: $button-secondary-font-color;
    &:hover {
      background: $button-secondary-bg-color-hover;
    }
  }
  &--tertiary {
    background: $button-tertiary-bg-color;
    color: $button-tertiary-font-color;
    &:hover {
      background: $button-tertiary-bg-color-hover;
    }
  }
}
