.card {
  background: white;
  border-radius: $radius-size-1;
  box-shadow: inset 0 0 0 1px palette(default, lighter), $shadow-1;
  [class*="col-"] & {
    height: 100%;
  }
  &__block {
    padding: $lead-single;
    box-sizing: border-box;
  }
  &__head {
    @extend .flex;
    @extend .middle-xs;
    padding: $lead-single;
  }
  &__title {
    margin-bottom: 0;
    line-height: 1;
    @media only screen and (max-width: ($breakpoint-md - 1px) ) {
      font-size: $type-scale-3;
    }
  }
  &__image--avatar {
    background: $card-autor-img-bg-color;
    border-radius: $radius-size-1;
    width: $line-height*1.5;
    height: $line-height*1.5;
    min-width: $line-height*1.5;
    min-height: $line-height*1.5;
    margin-right: $lead-half;
    overflow: hidden;
    @media only screen and (min-width: $breakpoint-md) {
      width: $line-height*2;
      height: $line-height*2;
      min-width: $line-height*2;
      min-height: $line-height*2;
    }
    img {
      max-width: 100%;
    }
  }
}

.card__head + .card__block {
  box-shadow: inset 0 1px 0 palette(default, lighter);
}

.row .grid-card, .row .card:last-child {
  margin-bottom: $lead-single;
  .card {
    margin-bottom: 0;
  }
}
