.image {
  height: auto;
  max-width: 100%;
  &--bleed-left, &--bleed-right {
    width: 125%;
    max-width: 125%;
  }
  &--bleed-left {
    margin-left: -25%;
  }
  &--bleed-right {
    margin-right: -25%;
  }
  &--small, &.image--small img {
    max-height: $lead-double;
  }
  &--medium, &.image--medium img {
    max-height: $lead-quintuple;
  }
  &--right, &.image--right img {
    float: right;
    margin-left: $lead-double;
    max-width: 33vw;
  }
  &--left, &.image--left img {
    float: left;
    margin-right: $lead-double;
    max-width: 33vw;
  }
  &--full, &.image--full img {
    width: 100%;
    height: auto;
  }
}

.image-grid {
  &__image,
  &__image-sizer {
    width: 20%;
  }
  &:nth-child(3) {
    width: 40%;
  }
}

.row.flex-columns > [class^="col-"] {
  > .image {
    align-self: auto;
  }
}
