.nav {
  display: flex;
  padding: $lead-half 0;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $bg-color-nav-overlay;
    z-index: 5;
    opacity: 0;
    display: none;
    transition: $transition-off;
  }
}

.is-visible {

  .nav__overlay {
    display: block;
    opacity: 0.65;
    transition: $transition-on;
  }

  .nav__menu-toggle {
    &:before {
      content: "\e969" !important;
      color: $font-color-nav-menu-toggle;
      transform: rotate(180deg);
      transition: all 0.35s ease-out;
      display: block;
    }
  }
}

.nav.nav--top {
  background-color: $bg-color-navbar;
  @extend .middle-xs;
  .nav__links {
    @extend .middle-xs;
    display: flex;
    margin: 0;
    list-style-type: none;
    line-height: $line-height;
    z-index: 10;
    .button {
      &--primary {
        color: $font-color-button-primary;
      }
      &--secondary {
        color: $font-color-button-secondary;
      }
    }
    li, a {
      color: $font-color-navbar-link;
      display: inline-block;
      font-family: $display-stack;
      font-size: $type-scale-2;
      font-weight: $font-weight-bold;
      letter-spacing: .5px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $font-color-navbar-link-hover;
      }
    }
    li {
      flex-shrink: 1;
      padding: 0 $lead-half;
    }
    a {
      position: relative;
    }
    a.is-active {
      color: $font-color-navbar-link-active;
      &:before {
        background: $bg-color-navbar-link-active-line;
        content: '';
        width: 100%;
        height: $height-navbar-link-active-line;
        bottom: -(($height-navbar - ($padding-navbar*2))/2);
        left: 0;
        position: absolute;
      }
    }
  }
}

.nav.nav--fixed {
  box-shadow: $shadow-1;
  position: fixed;
  width: 100%;
  z-index: map-get($z-index, navigation);
}

.nav__body {
  @extend .container;
  width: 100%;
}

.nav__content {
  @extend .row;
  @extend .between-sm;
  @extend .middle-xs;
}

.nav__brand {
  flex-shrink: 1;
  padding: 0 $lead-half;
}

.nav__logo {
  width: auto;
  margin: 0.3rem 0 0.4rem 0.4rem;
  height: $size-nav-logo;
  svg, img {
    height: $size-nav-logo;
  }
  + .nav__brand-text {
    display: none;
  }
  #light {
    fill: white;
  }
  #dark {
    fill: $theme-color-accent;
  }
}

@mixin off-canvas-nav($screen-size: 'xs') {
  &.nav--top.nav--off-canvas#{'-' + $screen-size} {
    //display: block;
    .nav__links {
      background: $bg-color-nav-off-canvas;
      bottom: 0;
      display: block;
      padding: 0;
      position: fixed;
      right: 0;
      transform: translateX(100%);
      top: 0;
      width: 285px;
      transition: .33s;
      li {
        display: block;
        line-height: $line-height * 1.5;
        padding: 0;
      }
      a {
        display: block;
        padding: 0 $lead-single;
        position: relative;
        width: 100%;
        &:hover {
          background-color: $bg-color-nav-off-canvas-link-hover;
          transition: .33s;
        }
      }
      a.is-active {
        color: $font-color-navbar-link-active;
        &:before {
          width: $height-navbar-link-active-line;
          height: 100%;
          bottom: 0;
          left: 0;
        }
      }
      .button {
        width: 100%;
      }
    }
    .nav__menu-toggle {
      color: $font-color-nav-menu-toggle;
      cursor: pointer;
      display: block;
      padding: $lead-half;
      z-index: 15;
      &:before {
        font-family: 'juicons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        content: "\e923";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transition: all 0.25s ease-in;
        display: block;
      }
    }
    &.is-visible {
      .nav__links {
        box-shadow: $shadow-2;
        transform: translateX(0);
      }
    }
  }
}


// off canvas
.nav {
 @include off-canvas-nav();
}

@media only screen and (max-width: $breakpoint-sm) {
  .nav {
    @include off-canvas-nav('xs')
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .nav {
    @include off-canvas-nav('sm')
  }
}

@media only screen and (max-width: $breakpoint-lg) {
  .nav {
    @include off-canvas-nav('md')
  }
}

@media only screen and (max-width: $breakpoint-xl) {
  .nav {
    @include off-canvas-nav('lg')
  }
}
