.bg-overlay {
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 5;
  }

  &--dark {
    #{$headlineCopyTags} {
      color: #fff;
    }

    #{$bodyCopyTags} {
      color: #ccc;
    }

    &:before {
      background-color: rgba(0,0,0,0.65);
    }
  }

  &--light {

  }
}
