.section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;

  + .section--separated {
    box-shadow: inset 0 1px 0 0 $section-border-color;
  }

  &--accent {
    background: $theme-color-accent;
    color: $theme-color-accent-text;

    &::after {
      background: transparentize((darken($theme-color-accent, 70%)),.3);
    }
  }
  &__title {
    font-family: $display-stack;
    font-size: $type-scale-5;
    &--large {
      font-size: $type-scale-6;
    }
  }
  &__subtitle {
    color: $muted-font-color;
    font-style: italic;
  }
  &--light {
    background: palette(default, light);
  }
  &--lighter {
    background: palette(default, lighter);
  }
  &--lightest {
    background: palette(default, lightest);
  }
}
