.section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;

  + .section--separated {
    box-shadow: inset 0 1px 0 0 $section-border-color;
  }

  &--accent {
    background: $theme-color-accent;

    &::after {
      background: transparentize((darken($theme-color-accent, 70%)),.3);
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__subtitle {
    color: $muted-font-color;
    font-style: italic;
  }
}
