.flexible-container {
  flex-direction: row;
  display: flex;

  &__side,
  &__main {
    transition: $transition-off;
  }

  &__side {
    width: 200px;
    min-width: 200px;
  }

  &__main {
    width: 100%;
    overflow-x: hidden;
  }

  &--collapsed {
    .flexible-container__side,
    .flexible-container__main {
      transition: $transition-on;
    }

    .flexible-container__side {
      width: $width-side-nav-collapsed;
      min-width: $width-side-nav-collapsed;
    }

    .sidebar--fixed {
      width: $width-side-nav-collapsed !important;
    }

    .sidebar__nav-link .text {
      left: -$width-side-nav;
    }

    .sidebar__closer__trigger {
      padding-right: 0;
    }

    .flexible-container__main {
      width: 100%;
    }
  }
}

.sidebar {
  padding-top: $lead-half;
  background: palette(neutral, C3);
  position: relative;

  ul {
    list-style-type: none;
    padding: 0;
  }

  &--fixed {
    z-index: 50;
    width: $width-side-nav !important;
    margin-left: 0 !important;
  }

  &__nav-link {
    @extend .clear;
    color: palette(neutral, C2);
    display: block;
    text-decoration: none;
    text-align: center;
    position: relative;

    .icon,
    .text {
      transition: $transition-off;
      display: block;
      float: left;
      line-height: $line-height;
      padding: $lead-half 0;
    }

    .icon {
      font-size: 80%;
      width: $width-side-nav-collapsed;
      background: palette(neutral, C3);
      position: relative;
      z-index: 2;
    }

    .text {
      width: $width-side-nav - $width-side-nav-collapsed;
      text-align: left;
      position: absolute;
      z-index: 1;
      left: $width-side-nav-collapsed;
    }

    &:hover,
    &:hover .icon,
    &:hover .text {
      background: palette(neutral, C4);
      color: palette(neutral, C1);
      transition: $transition-on;
    }

    &:hover {
      .text {
        left: $width-side-nav-collapsed;
      }
    }
  }

  &__closer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100vh;
    pointer-events: none;

    &__trigger {
      position: absolute;
      left: 0;
      bottom: 0;
      pointer-events: all;
      padding-right: $width-side-nav - $width-side-nav-collapsed;
    }
  }
}
