{##
 # Display an image, with lazy loading and a proportional wrapper to maintain
 # space in the layout while the image is loading.
 #
 # @param {string} [source] - Path to image resource, specified with data-source
 # @param {string} [sourceRetina] - Same as above, but for @2x resources
 # @param {string} [sourceSrcSet] - Same as above, using [srcset syntax](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#attr-srcset)
 # @param {string} [class] - Add additional classes to the image tag
 # @param {string} [description] - Description, used in the alt attribute, which is exposed for screen readers and on image errors
 #
 # @example
 # {{ image(
     source="http://abc.xyz/image.jpg",
     sourceRetina="http://abc.xyz/image@2x.jpg",
     data-srcset="images/image.jpg 320w, images/image@2x.jpg 640w, images/image@3x.jpg 960w">
     description="Used for screen readers",
     class="additional-class"
   ) }}
 #}

{% macro image(
  caption,
  class,
  description = "",
  height,
  round,
  source,
  sourceRetina,
  sourceSrcSet,
  width
) %}

{% if width and height %}
{% set aspectRatio = ( 100 * ( height / width ) ) %}
{% endif %}

<div class="image__wrapper{{ ' image--round' if round }}"{{ ' style="padding-top: '+ aspectRatio +'%;"' if aspectRatio }}>
  {{ '<figure>' if caption }}
  <img
    alt="{{ description }}"
    class="image{{ ' '+class if class }}"
    data-normal="{{ source }}"
    {% if sourceRetina %} data-retina="{{ sourceRetina }}"{% endif %}
    {% if sourceSrcSet %} data-srcset="{{ sourceSrcSet }}"{% endif %}
    {% if width %} width="{{ width }}"{% endif %}
    {% if height %} height="{{ height }}"{% endif %}
  >
  {{ '<figcaption>'+caption+'</figcaption>' if caption }}
  {{ '</figure>' if caption }}
</div>

{% endmacro %}
