/* BASE */

html {
  font-size: $type-scale;
}

body {
  font-size: $type-scale-3;
  line-height: $line-height;
  font-family: $body-stack;
  font-weight: $font-weight-normal;
  font-style: normal;
  text-align: left;
}

em     { font-weight: $font-weight-light; }
strong { font-weight: $font-weight-bold; }

h1, h2, h3, h4, h5, h6 {
  font-family: $display-stack;
}

/* HEADLINES */

h1,
.h1 {
  //color: $display-font-color;
  font-weight: $font-weight-bold;
  line-height: $line-height * 2.5;
  font-size: $type-scale-6;
  letter-spacing: 0.1rem;
  font-style: normal;
}

h2,
.h2 {
  //color: $display-font-color;
  font-weight: $font-weight-bold;
  font-size: $type-scale-5;
  line-height: $line-height*2;
  font-style: normal;
  //margin: 0 0 $lead-single;
}

h3,
.h3 {
  //color: $display-font-color;
  font-weight: $font-weight-bold;
  font-size: $type-scale-4;
  line-height: $line-height*1.5;
  font-style: normal;
}

h4,
.h4 {
  color: $body-font-color;
  font-size: $type-scale-3;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.page {
  &__title {
    @extend .h1;
    text-align: center;
  }

  &__subtitle {
    @extend .h2;
    font-size: $type-scale-3;
    font-style: italic;
    line-height: $line-height;
    text-align: center;
  }
}

.section {
  &__title {
    @extend .h2;
    font-family: $display-stack;
    font-size: $type-scale-5;
    &--large {
      font-size: $type-scale-6;
    }
  }
  &__subtitle {
    color: $muted-font-color;
    font-style: italic;
    margin-bottom: $lead-double;
  }
}

/* BODY */

p {
  // color: $body-font-color;
}

a {
  color: $link-color;
  transition: $transition-off;

  &:hover {
    color: $link-hover-color;
    transition: $transition-on;
    text-decoration: none;
  }
}

blockquote {
  @extend .text-small;
  font-size: $type-scale-1;
  line-height: $line-height * 1.5;
  font-style: italic;
  text-align: justify;
}

cite {
  @extend .text-small;
}

pre,
code,
tt {
  font-family: $mono-stack;
  font-size: 0.85rem;
}

tt {
  padding: 0.3rem 0.5rem;
  background: $muted-font-color;
  border-radius: $radius-size-1;
  margin: 0 0.1rem;
  line-height: 1;
}

.caption {
  color: $muted-font-color;
  font-family: $display-stack;
  font-size: $type-scale-1;
  font-weight: $font-weight-bold;
  letter-spacing: .5px;
  line-height: $line-height;
  text-transform: uppercase;
}

/* MODIFIERS */

small,
.text-small {
  font-size: $type-scale-2;
  color: $muted-font-color;
  text-transform: uppercase;
}

.text-large {
  font-size: $type-scale-4;
  line-height: $line-height*1.5;
}


.meta-text {
  @extend .text-small;
  color: $theme-color-accent;
  line-height: $line-height;
}

.text-center {
  text-align: center!important;
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.text-muted {
  opacity: .5;
}
