<section class="section">
  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-3">
        <img class="image image--full" src="images/placeholder-img.png" alt="dummy">
        <h4>Content Thing</h4>
        <p>
          Jump around on couch, meow constantly until given food. Destroy couch and junk.
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <img class="image image--full" src="images/placeholder-img.png" alt="dummy">
        <h4>Content Thing</h4>
        <p>
          Jump around on couch, meow constantly until given food. Destroy couch and junk.
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <img class="image image--full" src="images/placeholder-img.png" alt="dummy">
        <h4>Content Thing</h4>
        <p>
          Jump around on couch, meow constantly until given food. Destroy couch and junk.
        </p>
      </div>
    </div>
  </div>
</section>
