{##
 # Navigation bars
 #
 # @param {array}  [data] Array of JSON objects to be iterated through
 # @param {int}    [dataLimit] TODO: Number of objects in array to show before switching to an alternate view which has a read more link
 # @param {string} [gridWrapper] List of grid classes to wrap the output object
 # @param {string} [outputComponent] Name of the component to pass single array object to
 #
 # @return {string} A concatenated list of HTML for each object in array
 #
 # @example
 #   {% repeatStaff( staff, card(title="Card title") ) %}
 #}

{% macro nav() %}
<nav class="nav nav--top nav--fixed nav--off-canvas-sm">
  <div class="nav__body">
    <div class="nav__content">
      <div class="nav__brand">
        <div class="nav__logo">
          <img src="images/catface.svg">
        </div>
        <div class="nav__brand-text">
          NthNth
        </div>
      </div>
      <ul class="nav__links">
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="nav__menu-toggle"></div>
</nav>
{% endmacro %}
