// MARGIN BOTTOM ZERO
h4, .h4, .form-element__wrap {
  .form-element--text {
    margin: 0;
  }
}

// MARGIN BOTTOM THIRD

// MARGIN BOTTOM HALF

h3,
.section--hero .page-heading,
.hero__heading,
legend.label,
.form-element--check,
.form-element--radio,
.alert,
.image,
.button  {
  margin-bottom: $lead-half;
}

// MARGIN BOTTOM SINGLE

h1,
h2,
p,
.card, .form-element-group,
.form-element__wrap,
.hero__subheading {
  margin-bottom: $lead-single;
}

// MARGIN BOTTOM DOUBLE

.hero__subheading,
.content-block
{
  margin-bottom: $lead-double;
}


// PADDING TOP | BOTTOM TRIPLE

.section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}
