{##
 # Page subtitle (outputs an H2)
 #
 # @param {string} [text] The text to display
 #
 # @example
 #   {{ subtitle( "Subtitle Text" )) }}
 #}
{% macro pageSubtitle( text ) %}
<h2 class="page__subtitle">{{ text }}</h2>
{% endmacro %}
