{##
 # Page title (outputs an H1, only use once per page)
 #
 # @param {string} [text] The text to display
 #
 # @example
 #   {{ pageTitle( "Title Text" )) }}
 #}
{% macro pageTitle( text ) %}
<h1 class="page__title">{{ text }}</h1>
{% endmacro %}
