{##
 # Page title (one per page)
 #
 # @param {string} [text] The text to display
 #
 # @return {string} HTML
 #
 # @example
 #   {{ title( "Title Text" )) }}
 #}

{% macro title( text ) %}
<h1>{{ text }}</h1>
{% endmacro %}
