{##
 # Page title (outputs an H1, only use once per page)
 #
 # @param {string} [text] The text to display
 # @param {number} [level] Choose the tags and visual style to set the text in
 #
 # @example
 #   {{ title( "Title Text", type = "page" )) }}
 #}

{% macro title(
  text,
  level = "2",
  class
) %}

{% if level == "1" %}
  <h1 class="page__title{{ ' '+class if class}}">{{ text }}</h1>
{% else %}
  <h2 class="section__title{{ ' '+class if class}}">{{ text }}</h2>
{% endif %}

{% endmacro %}
