{##
 # A repeater that iterates through an array
 #
 # @param {array}  data - Array of JSON objects to be iterated through
 # @param {number} [dataLimit=10] TODO: Number of objects in array to show before switching to an alternate view which has a read more… link
 #
 # @example
 # {% repeatStaff( data=staff ) %}
 #}

{% from 'elements/card/card.njk' import card %}
{% from 'elements/layout/columns.njk' import columns %}

{% macro repeatStaff(
  data            = {},
  dataLimit       = 10
) %}

{% for item in data %}

  {% call columns(
    row = false,
    xs  = 12,
    sm  = 4,
    lg  = 3
  ) %}

    {% call card(
      avatarURL = item.avatar.file.url,
      title = item.name
    ) %}
      {{ item.description }}
    {% endcall %}

  {% endcall %}

{% endfor %}

{% endmacro %}
