{% extends 'layouts/application.njk' %}

{% block layout %}

{# If there's a hero component, put it here right after nav (defined in application.njk) #}
{% block hero %}{% endblock %}

{% block pageContent %}{% endblock %}

{% endblock %}
