{% extends 'layouts/application.njk' %}

{% block layout %}

{% block hero %}

  {% if page.hero %}
    {% set hero = page.hero %}

    {% call section(
      bgURL = hero.backgroundMedia.file.url,
      bgOverlayModifierClass = hero.backgroundOverlay,
      class = "section--hero text-center"
    ) %}

      {% call columns() %}
        {{ title(hero.title, level = 1) }}
        {{ subtitle(hero.text, level = 1) }}

        {% if hero.cta.length > 0 %}
          {% for cta in hero.cta %}

            {{ button(
              text = cta.buttonText,
              type = cta.type,
              URL  = cta.url,
              helpText = cta.helpText
            )}}

          {% endfor %}
        {% endif %}

      {% endcall %}

    {% endcall %}
  {% endif %}
{% endblock %}

{% block pageContent %}{% endblock %}

{% endblock %}
