{% extends 'layouts/application.njk' %}

{% block layout %}

{# If there's a hero component, put it here right after nav (defined in application.njk) #}
{% block hero %}{% endblock %}

<div class="flexible-container flexible-container--collapsed">
  <div class="flexible-container__side sidebar fixed-scroll-offset hide-xs">

    {# TODO: Componentize this sidebar #}
    <div class="sidebar--fixed">
      <ul>
        <li><a data-scroll class="sidebar__nav-link" href="#sections"><i class="icon icon--dashboard"></i><span class="text">Sections</span></a></li>
        <li><a data-scroll class="sidebar__nav-link" href="#content"><i class="icon icon--grid-uneven"></i><span class="text">Content</span></a></li>
        <li><a data-scroll class="sidebar__nav-link" href="#features"><i class="icon icon--blocks"></i><span class="text">Features</span></a></li>
        <li><a data-scroll class="sidebar__nav-link" href="#pricing"><i class="icon icon--documents-group"></i><span class="text">Pricing</span></a></li>
        <li><a data-scroll class="sidebar__nav-link" href="#cards"><i class="icon icon--profile-landscape"></i><span class="text">Cards</span></a></li>
      </ul>
    </div>

    <div class="sidebar__closer"><a href="#" class="sidebar__nav-link sidebar__closer__trigger"><i class="icon icon--chevron-right"></i></a></div>

  </div>
  <div class="flexible-container__main">
    {% block pageContent %}{% endblock %}

    {% block footer %}
    {{ footer( cms = contentful, site = sitedata, path = path ) }}
    {% endblock %}

  </div>
</div>

{% endblock %}
