{% from 'components/layout/section.njk'        import section %}
{% from 'components/layout/columns.njk'        import columns %}
{% from 'components/button/button.njk'         import button %}
{% from 'components/card/card.njk'             import card %}
{% from 'components/helpers/repeat__staff.njk' import repeatStaff %}
{% from 'components/helpers/anchor.njk'        import anchor %}
{% from 'components/nav/nav.njk'               import nav %}
{% from 'components/text/title.njk'            import title %}
{% from 'components/text/subtitle.njk'         import subtitle %}
{% from 'components/text/code.njk'             import code %}

<!doctype html>
<html class="{% block htmlClasses %}{% endblock %}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ _site.title }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/mediaelement/latest/mediaelementplayer.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    {% block head %}{% endblock %}
  </head>

  <body class="{% block bodyClasses %}{% endblock %}">

    {% block content %}{% endblock %}

    {% block javascript %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/mediaelement/latest/mediaelement-and-player.min.js"></script>
      <script src="js/app.js"></script>
    {% endblock %}
  </body>
</html>
