{##
 # Block with padding intended to live as sections within a div.card wrapper
 #
 # @param {boolean} [accent=false] - Give the block an accented background
 #
 # @example
 # {{ card(title="Card title", avatarURL="http://abc.xyz/pic.jpg") }}
 #}
{% macro cardBlock(
  accent = false
) %}

<div class="card__block{{ " card__block--accent" if accent }}">
  {{ caller() }}
</div>

{% endmacro %}
