{# TODO: Decide if we still need the content block, given we can just pass HTML straight through with {% call component() %}
  Card / Card Block:
  - bg: hex value (default: "green")


{%- macro contentBlock(
    accent = false,
    title,
    titleType = "tertiary",
    body,
    CTA,
    gridClasses
  ) %}
  <div class="content-block{{ " content-block--accent" if accent }} {{ gridClasses if gridClasses }}">

    {% if titleType == "primary" -%}<h1>
    {% elif titleType == "secondary" -%}<h2>
    {% elif titleType == "tertiary" -%}<h3>
    {% endif %}
      {{ title }}
    {%- if titleType == "primary" %}</h1>
    {%- elif titleType == "secondary" %}</h2>
    {%- elif titleType == "tertiary" %}</h3>
    {%- endif %}

    {{ body | safe }}

    {{ CTA if CTA }}

  </div>
{% endmacro %}
#}
