{#
  Card / Card Block:
  - bg: hex value (default: "green")
#}

{% macro contentBlock(
    accent = " derp",
    body
  ) %}
  <div class="content{{ accent }}">
    {{body | safe}}
  </div>
{% endmacro %}
