{##
 # Checkbox component
 #
 # @param {string}    [name="Yay"]
 # @param {[Object]}  [{label:"two",default: true}]
 #
 # @example
 # {{ checkbox( name="Yay",array=[{label:"one"},{label:"two",default: true},{label:"three"}]) }}
 #}

{% macro checkbox(
  name,
  array = []
) %}
<ul class="form-element-list">
{% for i in array %}
<li class="form-element-list__item">
  <label class="label" for="{{ name + '-' + i.label }}">
    <input type="checkbox" class="form-element form-element--check" id="{{ name + '-' + i.label }}" name="{{ name }}" value="Blah"{{ ' checked' if i.default }}>
    <span class="form-element__option">{{ i.label }}</span>
  </label>
</li>
{% endfor %}
</ul>
{% endmacro %}
